<configuration>
  <dllmap os="osx" dll="avcodec-55" target="/opt/local/lib/libavcodec.55"/>
  <dllmap os="osx" dll="avfilter-4" target="/opt/local/lib/libavfilter.4"/>
  <dllmap os="osx" dll="swresample-0" target="/opt/local/lib/libswresample.0"/>
  <dllmap os="osx" dll="avformat-55" target="/opt/local/lib/libavformat.55"/>
  <dllmap os="osx" dll="avutil-52" target="/opt/local/lib/libavutil.52"/>
  <dllmap os="osx" dll="swscale-2" target="/opt/local/lib/libswscale.2"/>
  <dllmap os="osx" dll="postproc-52" target="/opt/local/lib/libpostproc.52"/>
  <dllmap os="osx" dll="avdevice-55" target="/opt/local/lib/libavdevice.55"/>
  <dllmap os="linux" dll="avcodec-56" target="libavcodec.so.56"/>
  <dllmap os="linux" dll="avfilter-5" target="libavfilter.so.5"/>
  <dllmap os="linux" dll="swresample-1" target="libswresample.so.1"/>
  <dllmap os="linux" dll="avformat-56" target="libavformat.so.56"/>
  <dllmap os="linux" dll="avutil-54" target="libavutil.so.54"/>
  <dllmap os="linux" dll="swscale-3" target="libswscale.so.3"/>
  <dllmap os="linux" dll="postproc-53" target="libpostproc.so.53"/>
  <dllmap os="linux" dll="avdevice-56" target="libavdevice.so.56"/>
</configuration>
